@charset "utf-8";
/* 共通
-------------------------------------------- */
:root {
  --font-color: #2a2a2a;
  --white: #ffffff;
  --bg-grey: #f5f5f5;
  --bg-fotter: #333333;
}
body {
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--font-color);
}
p {
  line-height: 1.5;
}
img {
  max-width: 100%;
}
.logo img {
  width: 120px;
}

/* section
-------------------------------------------- */
section {
  padding-block: 40px;
}
section:first-of-type {
  padding-block-start: 80px;
}

.bg-img-sec {
  background-image: url(../images/fashion@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 520px;
}
.bg-grey-sec {
  background-color: var(--bg-grey);
}
/* heading
-------------------------------------------- */
.heading01,
.heading02 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.heading01 {
  margin-bottom: 20px;
}
.heading02 {
  margin-bottom: 40px;
}
.heading03 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

/* レイアウト
-------------------------------------------- */
.wrapper {
  max-width: 1200px;
  padding-inline: 5%;
  margin-inline: auto;
}

/* レイアウト
-------------------------------------------- */
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.button {
  display: inline-block;
  text-align: center;
  border: 1px solid currentColor;
  padding: 14px 36px;
}
/* カード
-------------------------------------------- */
.card {
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: grid;
  place-content: center;
}

.card:nth-of-type(1) {
  background-image: url(../images/magazine-archive.jpg);
}

.card:nth-of-type(2) {
  background-image: url(../images/magazine-new.jpg);
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}
.card-label {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white);
  font-weight: bold;
  padding: 15px 40px;
  width: 290px;
}
.card-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
}
.card-text {
  text-align: center;
}

/* item
-------------------------------------------- */
.item {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.item + .item {
  margin-top: 60px;
}

.item-text p + p {
  margin-top: 30px;
}
/* header
-------------------------------------------- */
header {
  height: 100vh;
  background-image: url(../images/mainvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.header-logo {
  position: absolute;
  top: 30px;
  right: 30px;
}
/* header
-------------------------------------------- */
footer {
  background-color: var(--bg-fotter);
  color: var(--white);
}
.footer-inner {
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-logo {
  text-align: center;
}
.footer-list {
  list-style-type: '- ';
  padding-left: 0.5em;
}
.footer-list li {
  line-height: 2;
  font-size: 12px;
}

.copyright {
  text-align: center;
  background-color: var(--white);
  font-size: 12px;
  padding-block: 30px;
  color: var(--font-color);
}
/* utility
-------------------------------------------- */
.ta_c {
  text-align: center;
}

/* media query
-------------------------------------------- */
@media screen and (min-width: 896px) {
  .card-wrapper {
    flex-direction: row;
    justify-content: center;
  }
  .card {
    flex: 1;
  }
  .item {
    flex-direction: row;
    align-items: center;
  }
  .item-text,
  .item-img {
    flex-basis: 48%;
  }
  .footer-inner {
    flex-direction: row;
  }
  .footer-inner > * {
    flex: 1;
  }
  .footer-logo {
    display: flex;
    align-items: center;
  }
}
